# Ambientes virtuais
venv/
.env/
env/
ENV/
.env

# Byte-code e cache Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Arquivos de sistema / IDEs
.DS_Store
.vscode/
.idea/


# Saídas temporárias ou logs grandes
*.log